@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%, 0.5);
    --veryDarkBlueMain: hsl(217, 54%, 11%);
    --veryDarkBlueCard: hsl(216, 50%, 16%);
    --veryDarkBlueLine: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--veryDarkBlueMain);
    font-size: 18px;
}

.main-container{ 
    width: 310px;
    height: 546px;
    margin: 60px auto;
    border-radius: 16px;
    padding: 16px;
    background-color: var(--veryDarkBlueCard);
}

.image{
    margin: 0 auto;
    background-image: url(./images/image-equilibrium.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 26px;
    overflow: hidden;
}

.eye-image{
    opacity: 0;
    background-color: var(--cyan);
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.eye-image:hover{
    cursor: pointer;
    opacity: 1;
}

.title{
    color: var(--white);
    font-size: 1.3em;
    margin-bottom: 18px;
}

.title:hover{
    cursor: pointer;
    color: var(--cyan);
}

.description{
    font-size: 0.9em;
    color: var(--softBlue);
    margin-bottom: 20px;
    font-weight: 300px;
}

.details-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.value{
    color: var(--cyan);
}

.time{
    color: var(--softBlue);
}

.line{
    border-top: 1px solid var(--softBlue);
    margin-bottom: 15px;
}

.creator-container{
    display: flex;
    align-items: center;
}

.photo{
    background-image: url(./images/image-avatar.png);
    width: 36px;
    height: 36px;
    background-size: cover;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.creator{
    color: var(--softBlue);
    font-size: 0.85em;
    margin-left: 15px;
}

.creator span{
    color: var(--white);
}

.titleCard:hover{
    cursor: pointer;
    color: var(--cyan);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width:900px){
    .main-container{
        width: 354px;
        height: 540px;
    }
    .image{
        width: 300px;
        height: 300px;
    }
    .description{
        font-size: 1em;
    }
}